:root {
  --bodyBg: #f0f4f8;
  --menuBg: #047BD5;
  --progressBar: #F8E831;
}
/* #F7A200
#F8E831 */
body {
  background: var(--bodyBg);
}

#menu {
  background: var(--menuBg);
}

/* Overrides default styled accordion styles (too much bottom padding) */
.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}
